@import '../common/_reset.scss';
@import '../common/_mixins.scss';
@import '../common/_variables.scss';
@import '../common/_common.scss';
.container {
    .wrapper {
        width: 73%;
        max-width: 1500px;
        margin: 0 auto;
        text-align: center;
    }
}

main {
    h4.topic {
        @include font-style(400, 20px, 'NexaBold', #949494);
        text-transform: uppercase;
    }
    h2.fresh-vids {
        @include font-style(400, 50px, 'NexaBold', #0e68d6);
        text-transform: capitalize;
    }
    ul.latest-songs {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        position: relative;
    }
}